h1 {
    text-transform: full-width;
    font-size: 40px;
    margin: 30px;
    line-height: 0.5em;
}

span {
    color: #2b5b3e
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

label {
    font-size: 24px;
}

input {
    margin-left: 20px;
    font-size: 20px;
}

.login {
    display: grid;
    justify-self: center;
}

.login-header {
    justify-self: center;
}

.login-logo {
    justify-self: center;
}

.login-form {
    justify-self: center;
}

.login-footer {
    justify-self: center;
}

